.windowsill.window {
  display: flex;
  flex-direction: column;
  position: absolute;
}
.windowsill.window .body {
  flex-grow: 1;
}
.windowsill.window .titlebar {
  display: block;
  height: 1.5em;
  line-height: 1.5em;
  vertical-align: middle;
  flex-shrink: 0;
  cursor: move;
}

